.user-picker {
  margin-left: 50px;
  margin-top: 50px;
}

.repo-picker {
  margin-left: 50px;
  margin-top: 30px;
}

.detail {
  margin-left: 50px;
  margin-top: 30px;

  .item {
    line-height: 36px;
  }
}
